.each-slide>div {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    height: 400px;

}

.each-slide-card>div {
    display: flex;
    justify-content: center;
    background-position: center;
    height: 430px;
    background-repeat: no-repeat;
    width: '100%';

}