.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    padding-bottom: 0%;
    padding-top: 0%;

}

@media screen and (max-width: 460px) {

    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 200px;
        object-fit: fill;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 200px;
        object-fit: fill;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 300px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 350px;
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 500px;
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 500px;
    
    }
}
