.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgb(229, 226, 226);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e91e63;
  border-radius: 100vh;
  border: 3px solid #e91e63;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e91e63;
}