.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ccc;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 100vh;
  border: 3px solid #333;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #222;
}