html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card:hover img {
  transform: scale(1.1) rotate(3deg);
  transition: .5s;
}

.card:hover .btn-area button {
  background-color: #333;
  color:#fff;
  transition: .5s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;
