html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: swap;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card:hover .btn-area .btn-add {
  background-color: #333;
  color:#fff;
  transition: .8s;
}

.show-more {
  color: #333;
}
.show-more:hover {  
  color: #e91e63;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.List {
  border: 1px solid #d9dddd;
  position: absolute;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
